
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 50%, 98%)
}
#calculator{
    max-width: 500px;
    background-color: rgb(195, 195, 188);
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    border-radius: 15px;
}
#display{
    width: 100%;
    padding: 10px;
    background-color: rgb(111, 117, 117);
    text-align: left;
    font-size: 5em;
    border: none;
    color: white;

}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 30px;
}

button{
    font-size: 3em;
    font-weight: bold;
    border-radius: 50%;
    border: none;
    background-color: hsl(0, 2%, 43%);
    color: white;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 2%, 53%);
}
button:active{
    background-color: hsl(0, 2%, 63%);
}
.symbol-btn{
    background-color: hsla(16, 95%, 49%, 0.942);
}
.symbol-btn:hover{
    background-color: hsla(16, 95%, 59%, 0.942);
}
.symbol-btn:active{
    background-color: hsla(16, 95%, 79%, 0.942);
}
.result-btn{
    background-color: hsl(120, 80%, 27%);
}
.result-btn:hover{
    background-color: hsl(120, 80%, 37%);
}
.result-btn:active{
    background-color: hsl(120, 80%, 47%);
}

