body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#btn{
    padding: 10px 20px;
    font-size: 3em;
    border-radius: 15px;
    background-color: rgb(39, 173, 57);
    cursor: pointer;
}
#labelcontent{
    text-align: center;
    color: blue;
    font-size: 3em;
}